<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/style.css">
    <title>Fidelis</title>
</head>
<body>
    <main class="intro">
        <ul class="intro-wrapper">
            <li>
                <h1>Fidelis</h1>
            </li>
            <li>
                Find your match based on movies!
            </li>
            <li>
                Add your favorite movie and the movies you've seen last.
            </li>
            <li>
                Chat with your matches, you already have a great conversation starter!
            </li>
        </ul>
        <a href="/home">Start matching</a>
    </main>
</body>
</html>