<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fidelis</title>
</head>
<body>
    <header>
        <h1>Fidelis</h1>
    </header>
    <main>
        <ul class="matches-wrapper">
            <li>
                <div class="image-wrapper">
                    <img src="" alt="">
                    <h2>Name</h2>
                    <h2>age</h2>
                </div>
                <div class="content-wrapper">
                    <h3>Favorite movie</h3>
                    <h4>Last seen</h4>
                    <ol class="movie-wrapper">
                        <li>Movie</li>
                        <li>Movie</li>
                        <li>Movie</li>
                    </ol>
                    <ul class="genre-wrapper">
                        <li>Genre</li>
                        <li>Genre</li>
                        <li>Genre</li>
                        <li>Genre</li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="button-wrapper">
            <button type="submit"></button>
            <button type="submit"></button>
        </div>
    </main>
    
</body>
</html>