<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fidelis</title>
</head>
<body>
    <header>
        <h1>Fidelis</h1>
    </header>
    <main>
        <ul class="match-wrapper">
            <li>
                <img src="" alt="">
                <p>Name</p>
            </li>
        </ul>
        <ul class='chats-wrapper'>
            <li>
                <a href="/chat">
                    <img src="" alt="">
                    <p>Message</p>
                </a>
            </li>
        </ul>
    </main>
    
</body>
</html>