<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fidelis</title>
</head>
<body>
    <header>
        <h1>Fidelis</h1>
    </header>
    <main>
        <form action="/handleLogin" method="POST">
            <fieldset>
                <legend>Sign up</legend>
                <label for="">
                    Name
                    <input type="text" required>
                </label>
                <label for="">
                    Age
                    <input type="number" required>
                </label>
                <label for="">
                    <input type="file" accept="image/*" required>
                </label>
                <label for="">
                    Favorite movie
                    <input type="number" required>
                </label>
                <label for="">
                    Movies you've seen last
                    <input type="text" required>
                    <input type="text">
                    <input type="text">
                </label>
                <label for="">
                    Favorite genre's
                    <input type="text" required>
                    <input type="text">
                    <input type="text">
                    <input type="text">
                </label>
                <label for="">
                    E-mail
                    <input type="email" required>
                </label>
                <label for="">
                    Password
                    <input type="password" required>
                </label>
                <button type="submit" name="button">Login</button>
            </fieldset>
        </form>
    </main>
</body>
</html>